version.h

command/markad
command/.dependencies
command/*.swp
command/*.orig
command/*.o
command/*~
command/po/*.pot
command/po/*.mo
command/html/*
*version.h
*markad.exe

plugin/.dependencies
plugin/*.swp
plugin/*.orig
plugin/*.o
plugin/*.so
plugin/*~
plugin/po/*.pot
plugin/po/*.mo
